.order{
    height:90vh;
    width: 100%;
    /* margin: 0; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    scrollbar-width: thin; /* Adjust the width as needed */
    scrollbar-color: transparent rgba(59, 58, 58, 0.3);
}

.orderBox{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: thin; /* Adjust the width as needed */
    scrollbar-color: transparent rgba(59, 58, 58, 0.3);
    /* margin-top: 150px; */
    /* margin-bottom: 50px; */
}
.orderButton{
    display: flex;
    gap: 1rem;
}

.orderTable{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    height: auto;
    overflow-y: auto;
    scrollbar-width: thin; /* Adjust the width as needed */
    scrollbar-color: transparent rgba(72, 91, 100, 0.1);

}
.orderButton>span{
    /* border: 1px solid rgb(62, 36, 36); */
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}
.tabtr{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
} 
.tabtr>th:first-child,.tabtr>td:first-child{
    padding-left: 10px;
}
.tabtr>th{
    text-transform: uppercase;
    font-size: large;
}